.new-incident-container {
    width: 100%;
    max-width: 1120px;
    height: calc(100vh - 64px);
    margin: 0 auto;
    position: relative;
}

.new-incident-container .content {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app.theme-dark .new-incident-container .card {
    background-color: #444;
}

.new-incident-container .card {
    width: 100%;
    padding: 80px 96px;
    background-color: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-incident-container .card section {
    width: 100%;
    max-width: 380px;
}

.new-incident-container .card section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-incident-container .card section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-incident-container .card form {
    width: 100%;
    max-width: 450px;
}

.new-incident-container .card form input,
.new-incident-container .card form textarea {
    margin-top: 8px;
}